<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的数据集详情页</title>
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">


</head>
<body>
<div class="header">
    <a href="#" class="logo fl"><img src="/static/img/logo.png" alt="logo"></a>
    <a href="/logout" class="logout fr">退 出</a>
</div>

<div class="side_bar">
    <div class="user_info">
        <img src="/static/img/user.png" alt="张大山">
        <p>欢迎你 <em>{{.userName}}</em></p>
    </div>

    <div class="menu_con">
        <div class="first_menu active"><a href="javascript:;" class="icon02">数据集管理</a></div>
        <ul class="sub_menu show">
            <li><a href="/trace/showMetas" class="icon031">数据集列表</a></li>
            <li><a href="/trace/showMyMetas" class="icon032">我的数据集</a></li>
            <li><a href="/trace/registerDataSet" class="icon034">科学数据集注册</a></li>
            <li><a href="/trace/waterMarkadd" class="icon034">数字水印Demo</a></li>

        </ul>
    </div>
</div>

<div class="main_body" id="main_body">
    <div class="breadcrub">
        当前位置：数据集管理>{{.dataName}}详情
    </div>
    <div class="pannel" style="overflow:auto;overflow-x: hidden;word-wrap:break-word;word-break:break-all;width: 50%">
        <table class="common_table">
            <tr>
                <th width="%35">DataAttrField</th>
                <th width="%50">Content</th>
            </tr>
            <tr>
                <td>数据集Id</td>
                <td>{{.dataId}}</td>
            </tr>
            <tr>
                <td>数据集名</td>
                <td>{{.dataName}}</td>
            </tr>
            <tr>
                <td>摘要</td>
                <td>{{.abstract}}</td>
            </tr>
            <tr>
                <td>拥有者</td>
                <td>{{.owner}}</td>
            </tr>
            <tr>
                <td>加密后哈希</td>
                <td>{{.hash}}</td>
            </tr>
            <tr>
                <td>IPFS地址</td>
                <td>{{.ipfs}}</td>
            </tr>
            <tr>
                <td>上传时间</td>
                <td>{{.timestamp}}</td>
            </tr>
            <tr>
                <td>下载状态</td>
                <td>{{ShowAllowed .del}}</td>
            </tr>
            <tr>
                <td>上链TxId</td>
                <td>{{.txid}}</td>
            </tr>
            <tr>
                <td>AES加密秘钥</td>
                <td>{{.encrykey}}</td>
            </tr>
        </table>

    </div>
</div>

</body>
</html>